html,
body {
  height: 100%;
}

#todolist {
  margin: 0 auto;
}

.removeSpan,
.text-muted {
  color: black;
  cursor: pointer;
}

.bi-hand-thumbs-up,
.bi-hand-thumbs-up-fill {
  cursor: pointer;
}

#update {
  cursor: pointer;
}
