<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <input type="button" value="修改msg的值" @click="setMsg" />
      <input type="text" v-model="message" @keyup.enter="getMsg" />
      <p>文本框</p>
      <textarea name="" id="" cols="30" rows="10" v-model="message"></textarea>
      <p>下拉框</p>
      <select v-model="message">
        <option value="1">html</option>
        <option value="2">css</option>
        <option value="3">js</option>
      </select>

      <select v-model="message">
        <option>running</option>
        <option>sleeping</option>
        <option>swimming</option>
      </select>
      <p>单选框</p>
      <input type="radio" name="gender" value="male" v-model="message" />male

      <input
        type="radio"
        name="gender"
        value="female"
        v-model="message"
      />female

      <p>多选框</p>
      <input
        type="checkbox"
        name=""
        id=""
        value="basketball"
        v-model="messageArr"
      />basketball
      <input
        type="checkbox"
        name=""
        id=""
        value="football"
        v-model="messageArr"
      />football
      <input
        type="checkbox"
        name=""
        id=""
        value="running"
        v-model="messageArr"
      />running

      <h2>{{message}}</h2>
      <h2>{{messageArr}}</h2>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          message: "",
          messageArr: [],
        },
        methods: {
          getMsg: function () {
            alert(this.message);
          },
          setMsg: function () {
            this.message = "已修改";
          },
        },
      });
    </script>
  </body>
</html>
