<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="components-demo">
      <p>
        HTML 中的 attribute
        名是大小写不敏感的，所以浏览器会把所有大写字符解释为小写字符。这意味着当你使用
        DOM 中的模板时，camelCase (驼峰命名法) 的 prop 名需要使用其等价的
        kebab-case (短横线分隔命名) 命名 例如：postTitle= post-title
      </p>
      <child-component post-title="hello!"></child-component>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      let child = {
        template: "<div><h5>{{ postTitle }}</h5><p>not postTitle</p></div>",
        props: ["postTitle"],
      };

      new Vue({
        el: "#components-demo",
        components: {
          "child-component": child,
        },
      });
    </script>
  </body>
</html>
