<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  </head>
  <body>
    <div id="app">
      <parent> </parent>
    </div>
  </body>
</html>
<script>
  //slot方法传递h5 数据,确定要传的数据的位置
  Vue.component("child", {
    template: `
            <div>
                <slot name='data1' :msg="msg"></slot>
                <h2>我是子组件</h2>
                <slot name='data2'></slot>
            </div>
        `,
    data: function () {
      return {
        msg: "我是子组件数据",
      };
    },
  });
  let parent = {
    template: `
            <div>
                <h1>我是父组件</h1>
                <child>
                    <template v-slot:data1="aaa">
                        <div>我是父组件的标签数据1</div>  
                    </template>
                    <template v-slot:data2>
                        <div>我是父组件的标签数据2</div>  
                    </template>
                </child>  
            </div>
        `,
    data: function () {
      return {
        msg: "我是父组件的数据",
      };
    },
  };

  new Vue({
    el: "#app",
    data: {},
    components: {
      parent,
    },
  });
</script>
