<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
<script>
  //通过slot从子组件数据传递给父组件，:msg="msg" 自定义属性名:data里的属性名
  //作用域插槽
  Vue.component("child", {
    template: `
            <div>
                <h2>我是子组件</h2>
                <slot :msg="msg"></slot>
            </div>
        `,
    data: function () {
      return {
        msg: "我是子组件数据111111",
      };
    },
  });
  let parent = {
    template: `
            <div>
                <h1>我是父组件</h1>
                <child>
                    <template v-slot:default="customName">
                        <div>我是父组件的标签数据1--->{{customName.msg}}</div>      
                    </template>
                </child>  
            </div>
        `,
    data: function () {
      return {
        msg: "我是父组件的数据222222",
      };
    },
  };

  new Vue({
    el: "#app",
    render: function (fn) {
      return fn(parent);
    },
  });
</script>
